In [16]:
import psycopg2
import pandas as pd

# Connect to PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="123123123"
)
cur = conn.cursor()

# Load CSV data into a pandas dataframe
csv_file = '/Users/issacmiao/Downloads/sales_data.csv'
df = pd.read_csv(csv_file)

# Check and clean column names
df.columns = df.columns.str.strip()  # Clean up whitespace

# Ensure the columns match what you want to insert
# Adjusting the column names for your schema
df.rename(columns={
    'Order Date': 'sale_date',
    'Product': 'product_name',
    'Quantity Ordered': 'quantity_sold',
    'Price Each': 'price',
    'Sales': 'total_amount'
}, inplace=True)

print(df.columns)
print(df.head())

# Create table schema for the sales data
create_table_query = '''
CREATE TABLE IF NOT EXISTS sales_data (
    id SERIAL PRIMARY KEY,
    sale_date TIMESTAMP,
    product_name VARCHAR(255),
    quantity_sold INTEGER,
    price NUMERIC,
    total_amount NUMERIC
);
'''

cur.execute(create_table_query)
conn.commit()

# Insert CSV data into the PostgreSQL table
for _, row in df.iterrows():
    insert_query = '''
    INSERT INTO sales_data (sale_date, product_name, quantity_sold, price, total_amount)
    VALUES (%s, %s, %s, %s, %s)
    '''
    cur.execute(insert_query, (row['sale_date'], row['product_name'], row['quantity_sold'], row['price'], row['total_amount']))

conn.commit()

# Clean up
cur.close()
conn.close()

def clean_data(df):
    # Handle missing values
    df = df.dropna()

    # Remove duplicates
    df = df.drop_duplicates()

    # Check for negative prices or quantities
    df = df[(df['price'] > 0) & (df['quantity_sold'] > 0)]

    return df

# Clean the dataset
df_cleaned = clean_data(df)

# After cleaning, load it to a different table or overwrite the previous data
for _, row in df_cleaned.iterrows():
    cur.execute(insert_query, (row['sale_date'], row['product_name'], row['quantity_sold'], row['price'], row['total_amount']))

conn.commit()

CREATE TABLE IF NOT EXISTS sales_cleaned_data (
    id SERIAL PRIMARY KEY,
    sale_date DATE,
    product_name VARCHAR(255),
    quantity_sold INTEGER,
    price NUMERIC,
    total_amount NUMERIC
);

Index(['Unnamed: 0', 'Order ID', 'product_name', 'quantity_sold', 'price',
       'sale_date', 'Purchase Address', 'Month', 'total_amount', 'City',
       'Hour'],
      dtype='object')
   Unnamed: 0  Order ID          product_name  quantity_sold    price  \
0           0    295665    Macbook Pro Laptop              1  1700.00
1           1    295666    LG Washing Machine              1   600.00
2           2    295667  USB-C Charging Cable              1    11.95
3           3    295668      27in FHD Monitor              1   149.99
4           4    295669  USB-C Charging Cable              1    11.95

             sale_date                        Purchase Address  Month  \
0  2019-12-30 00:01:00  136 Church St, New York City, NY 10001     12
1  2019-12-29 07:03:00     562 2nd St, New York City, NY 10001     12
2  2019-12-12 18:21:00    277 Main St, New York City, NY 10001     12
3  2019-12-22 15:13:00     410 6th St, San Francisco, CA 94016     12
4  2019-12-18 12:38:00           43 Hill St, Atlanta, GA 30301     12

   total_amount            City  Hour
0       1700.00   New York City     0
1        600.00   New York City     7
2         11.95   New York City    18
3        149.99   San Francisco    15
4         11.95         Atlanta    12

InterfaceError: cursor already closed

In [17]:
import psycopg2
import pandas as pd

# Connect to PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="123123123"
)
cur = conn.cursor()

# Load CSV data into a pandas dataframe
csv_file = '/Users/issacmiao/Downloads/sales_data.csv'
df = pd.read_csv(csv_file)

# Check and clean column names
df.columns = df.columns.str.strip()  # Clean up whitespace

# Ensure the columns match what you want to insert
# Adjusting the column names for your schema
df.rename(columns={
    'Order Date': 'sale_date',
    'Product': 'product_name',
    'Quantity Ordered': 'quantity_sold',
    'Price Each': 'price',
    'Sales': 'total_amount'
}, inplace=True)

print(df.columns)
print(df.head())

# Create table schema for the sales data
create_table_query = '''
CREATE TABLE IF NOT EXISTS sales_data (
    id SERIAL PRIMARY KEY,
    sale_date TIMESTAMP,
    product_name VARCHAR(255),
    quantity_sold INTEGER,
    price NUMERIC,
    total_amount NUMERIC
);
'''
cur.execute(create_table_query)
conn.commit()

# Insert CSV data into the PostgreSQL table
for _, row in df.iterrows():
    insert_query = '''
    INSERT INTO sales_data (sale_date, product_name, quantity_sold, price, total_amount)
    VALUES (%s, %s, %s, %s, %s)
    '''
    cur.execute(insert_query, (row['sale_date'], row['product_name'], row['quantity_sold'], row['price'], row['total_amount']))

conn.commit()

# Function to clean the dataset
def clean_data(df):
    # Handle missing values
    df = df.dropna()

    # Remove duplicates
    df = df.drop_duplicates()

    # Check for negative prices or quantities
    df = df[(df['price'] > 0) & (df['quantity_sold'] > 0)]

    return df

# Clean the dataset
df_cleaned = clean_data(df)

# Create the cleaned table before inserting
create_cleaned_table_query = '''
CREATE TABLE IF NOT EXISTS sales_cleaned_data (
    id SERIAL PRIMARY KEY,
    sale_date TIMESTAMP,
    product_name VARCHAR(255),
    quantity_sold INTEGER,
    price NUMERIC,
    total_amount NUMERIC
);
'''
cur.execute(create_cleaned_table_query)
conn.commit()

# Insert cleaned data into the cleaned table
for _, row in df_cleaned.iterrows():
    insert_cleaned_query = '''
    INSERT INTO sales_cleaned_data (sale_date, product_name, quantity_sold, price, total_amount)
    VALUES (%s, %s, %s, %s, %s)
    '''
    cur.execute(insert_cleaned_query, (row['sale_date'], row['product_name'], row['quantity_sold'], row['price'], row['total_amount']))

conn.commit()

# Clean up
cur.close()
conn.close()

Index(['Unnamed: 0', 'Order ID', 'product_name', 'quantity_sold', 'price',
       'sale_date', 'Purchase Address', 'Month', 'total_amount', 'City',
       'Hour'],
      dtype='object')
   Unnamed: 0  Order ID          product_name  quantity_sold    price  \
0           0    295665    Macbook Pro Laptop              1  1700.00
1           1    295666    LG Washing Machine              1   600.00
2           2    295667  USB-C Charging Cable              1    11.95
3           3    295668      27in FHD Monitor              1   149.99
4           4    295669  USB-C Charging Cable              1    11.95

             sale_date                        Purchase Address  Month  \
0  2019-12-30 00:01:00  136 Church St, New York City, NY 10001     12
1  2019-12-29 07:03:00     562 2nd St, New York City, NY 10001     12
2  2019-12-12 18:21:00    277 Main St, New York City, NY 10001     12
3  2019-12-22 15:13:00     410 6th St, San Francisco, CA 94016     12
4  2019-12-18 12:38:00           43 Hill St, Atlanta, GA 30301     12

   total_amount            City  Hour
0       1700.00   New York City     0
1        600.00   New York City     7
2         11.95   New York City    18
3        149.99   San Francisco    15
4         11.95         Atlanta    12